.box-shadow {
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
.color1 {
    background: rgb(42, 63, 84);
    color: white;
}
.color1:hover {
    background:rgba(27,148,225,0.93) ;
    color: white;
}
.count1 {
    color:rgb(42, 63, 84) ;
    float: right;
}
/*benner desktop*/

.benner {
    margin-left: 60px;
    padding: 15px;
    height: 300px;
    background: white;
}
.benner-name {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 23px;
    margin-bottom: 10px;
}
/*user view*/
.row_edit {
    margin-top: 10px;
}
.form_user {
    color: #640c23;
}
.prd {
    color: #a40835;
}
.list-user {
    margin-top: 5px;
    padding-top: 5px;
    border-bottom: 1px solid rgba(208,205,200,0.93);
    border-left: 1px solid rgba(208,205,200,0.93);
    border-right: 1px solid rgba(208,205,200,0.93);
    border-top: 1px solid rgba(208,205,200,0.93);
}
#error-date {
    color: #a40835;
}
.name-menu-tb {
    padding: 20px;

}
.name-menu {
    background: #2A3F54;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;

}

/*team view*/


.menu-team {
    height: 290px;
    margin-left: 5%;
    margin-bottom: 3%;
    padding: 10px;
    background: white;
}
.name-team {
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid rgba(204,203,203,0.93);
    margin-bottom: 10px;
}
.seting-team {
    padding-left: 20px;!important;
}
.btn-1 {
    float: right;
    width: 100px;
    margin-bottom: 20px;
}
.content-data-show {
    width: 500px;
    height: 250px;
background: rgba(193,198,204,0.93);
    position: absolute;
    top: -150px;
    right: 0;
    color: white;
    font-size: 18px;
    display: none;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
    border-radius: 10px;
}
.closeeeee {
    display: none;
    color: white;
}

